/*unvisited link */
a:link {
   color:black;
}

/*visited link */
a:visited {
   color:black;
}

/*mouse overlink*/
a:hover{ 
   color:hotpink;
}
/*selected link */
a:active {
   color:blue;
}

body{
   font-family: Arial, sans-serif;
}
nav {
   color: gray;
   border: 1px;
   border-style: solid;
   background-color: lightblue;
   margin-top:20pt;
   padding: 10pt;
   margin: 10pt;
}

nav p {
   color: white;
   text-align: left;
   line-height: 1pt;
   padding: 10pt;
   margin: 10pt;
}
   
section h1, h2 {
   margin-top: 20pt;
   text-align: left;
   font-style:italic;
   margin: 10pt;
   margin-left:20pt;
}

article {
   border: 1px;
   border-style: solid;
   border-color: gray;
   padding: 10pt;
   margin: 10pt;
}

article header {
   font-style: italic;
}
article p {
    margin-left: 20pt;
}

#article1 {
    background-color: lightblue;  
}


#article2 {
    background-color: lightblue;  
}

#article1 p {
   color:white;
   background-color: lightblue;
   }

#article2 p {
   color:white;
   background-color: lightblue;
   }

aside {
   display: inline-block;
   width: 40%;
   vertical-align: top;
   margin-top: 20pt;
   margin-left: 20pt;
   border: 1px;
   border-style: solid;
   border-color: gray;
   padding: 10pt;
   margin: 10pt;
   background-color: lightblue;
}

aside h2 {
   font-size: 16pt;
}
 
aside p {
 color:white;
}

.quotation p {
   font-style: italic;
}



/*copyright format*/
#footer 
{font-size: small;}
